{% extends 'base.html' %}
{% block title %}Formulario Productos{% endblock %}
{% block content %}
<h1>{{ titulo }}</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.nombre.label }} {{ form.nombre() }}<br>
    {{ form.descripcion.label }} {{ form.descripcion() }}<br>
    {{ form.cantidad.label }} {{ form.cantidad() }}<br>
    {{ form.precio.label }} {{ form.precio() }}<br>
    {{ form.ubicacion.label }} {{ form.ubicacion() }}<br>
    {{ form.referencia.label }} {{ form.referencia() }}<br>
    {{ form.color.label }} {{ form.color() }}<br>
    {{ form.proveedores.label }} {{ form.proveedores(multiple=True) }}<br>
    {{ form.submit() }}
</form>
{% endblock %}